<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>178626850868-i1cql63nu4eaj7o4jr4etf6j9l2sfn5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178626850868-i1cql63nu4eaj7o4jr4etf6j9l2sfn5s</string>
	<key>API_KEY</key>
	<string>AIzaSyBaXmXgavE1TfTmhXCBA4zciy6xwdmqHVU</string>
	<key>GCM_SENDER_ID</key>
	<string>178626850868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourcompany.news</string>
	<key>PROJECT_ID</key>
	<string>news-eb7f3</string>
	<key>STORAGE_BUCKET</key>
	<string>news-eb7f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:178626850868:ios:d8bdd33d896fe50f</string>
	<key>DATABASE_URL</key>
	<string>https://news-eb7f3.firebaseio.com</string>
</dict>
</plist>
